
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 260 85% 5%;
  --foreground: 0 0% 100%;
}

body {
  background: linear-gradient(to bottom right, rgb(76, 29, 149), rgb(91, 33, 182));
  min-height: 100vh;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-200 to-violet-400;
}
